swagger: '2.0'
info:
  version: '1.0'
  title: Brink's Developer Sandbox REST API
  description: >-
   Rest Api For External Brink's Customer
  contact:
    name: Salesforce B2C Commerce Infocenter
    #url: >-
     # https://documentation.b2c.commercecloud.salesforce.com/DOC1/topic/com.demandware.dochelp/content/b2c_commerce/topics/sandboxes/b2c_developer_sandboxes.html?cp=0_6_4
host: "brinks--devp2.sandbox.my.salesforce.com"
basePath: /services/apexrest/
securityDefinitions:
  #AccountManager:
   # type: oauth2
    #description: >-
     # Authenticate using Commerce Cloud Account Manager with your SSO
      #credentials.
    #authorizationUrl: 'https://account.demandware.com:443/dwsso/oauth2#/authorize'
    #flow: implicit
  ClientCredentials:
    type: oauth2
    description: >-
      Authenticate using Commerce Cloud Account Manager with your client
      credentials.
    tokenUrl: 'https://brinks--devp2.sandbox.my.salesforce.com/services/oauth2/token'
    flow: password
#tags:
#  - name: Common
#    x-sfdc-group-id: Common
#    description: General purpose API endpoints.
#  - name: Realms
#    x-sfdc-group-id: realms
#    description: Operations on the realm level.
#  - name: Sandboxes
#    x-sfdc-group-id: sandboxes
#    description: Operations on the sandbox level.

paths:
  
      
  /Case:                      
    get:
      tags:
      - "Orders"
      description: Returns 'Order list' to the caller
      # used as the method name of the controller
      responses:
        "200":
          description: Success
        default:
          description: Error